{% extends "wai_base.html" %}
{% block title %}
	<title>:: Wisdom Admin Interface :: - Configuration Management</title>
{% endblock %}
{% block script %}
	
{% endblock %}
{% block ddlclient %}
	<select id="ddlheadclie" name="ddlheadclie" class="form-control">    
	{% for cd in clidet %}
	   	<option value="{{ cd.pk_client }}">{{ cd.client_name }}</option>
	{% endfor %}
    </select>
{% endblock %}
{% block ddlvenue %}
	<select id="ddlheadvenu" name="ddlheadvenu" class="form-control">    
	{% for vn in vendet %}
	   	<option value="{{ vn.pk_venue }}">{{ vn.venue_name }}</option>
	{% endfor %}
    </select>
{% endblock %}
{% block body %}
<div class="message-loading-overlay"><i class="ace-icon fa fa-spin ace-icon fa fa-spinner orange2 bigger-270"></i></div>
<div class="">
    <div class="container padding-top10 padding-bottom30">
        <h1 class="page-header">Configuration Management</h1>
        <input type="hidden" id="hidheadid" name="hidheadid" value="{{ hid }}" />
        <input type="hidden" id="hidusname" name="hidusname" value="{{ usna }}" />
        <input type="hidden" id="hidustype" name="hidustype" value="{{ ustyp }}" />
        {% for pg in pgdet %}
            <input type="hidden" id="hidpgnames" name="hidpgnames" value="{{ pg.page_name }}" />
            <input type="hidden" id="hidpgviews" name="hidpgviews" value="{{ pg.page_view }}" />
            <input type="hidden" id="hidpgedits" name="hidpgedits" value="{{ pg.page_edit }}" />
            <input type="hidden" id="hidpgdeles" name="hidpgdeles" value="{{ pg.page_delete }}" />
        {% endfor %}
        <form id="frmvivalmas" name="frmvivalmas" action="/wai_mngprocmoni/" method="post">
        	{% csrf_token %}
            <h1 class="align-center">Coming Soon</h1>
        </form>
    </div>
</div>
{% endblock %}
