{% block content %}
{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block title %}
		{% endblock %}
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" />
        <link href="{% static "css/style.css" %}" rel="stylesheet" />
        <link href="{% static "css/dashboard.css" %}" rel="stylesheet" />
		<link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" />
		<link href="{% static "css/bootstrap-datetimepicker.min.css" %}" rel="stylesheet" />
    	<link rel="stylesheet" type="text/css" href="{% static "css/jquery.dataTables.css" %}">
        <link rel='stylesheet' type="text/css" href="{% static "css/fullcalendar.css"%}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
		<script src="{% static "js/jquery.dataTables.js" %}"></script>
		<script src="{% static "js/moment.js" %}"></script>
		<script src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>
        <script src="{% static "js/common.js" %}"></script>
		<script src="{% static "js/fullcalendar.min.js" %}"></script>        
        <script language='javascript'>
			$(function () {
				$('[data-toggle="tooltip"]').tooltip();
				$('[data-toggle="popover"]').popover();
				var $currentPopover = null;
				  $(document).on('shown.bs.popover', function (ev) {
					var $target = $(ev.target);
					if ($currentPopover && ($currentPopover.get(0) != $target.get(0))) {
					  $currentPopover.popover('toggle');
					}
					$currentPopover = $target;
				  });
				
				  $(document).on('hidden.bs.popover', function (ev) {
					var $target = $(ev.target);
					if ($currentPopover && ($currentPopover.get(0) == $target.get(0))) {
					  $currentPopover = null;
					}
				  });
			})
		</script>
		{% block script %}
		{% endblock %}
	</head>
	<body>
    	<nav class="navbar navbar-default navbar-fixed-top">
        	<div class="container-fluid">
            	<div class="row no-margin padding-top10 padding-bottom10">
                	<div class="col-lg-8"></div>
                    <div class="col-lg-2 align-left no-padding-left">
                    	<div class="row">
                    		<label for="ddlheadclie" class="col-lg-4 padding-top10 align-right">Client:</label>
                        	<div class="col-lg-8 no-padding-left">
                            	{% block ddlclient %}
                                {% endblock %}
    	                    </div>
        	            </div>
					</div>
                	<div class="col-lg-2 align-right no-padding-right">
                		<div class="row">
                        	<label for="ddlheadvenu" class="col-lg-4 padding-top10 align-right">Venue:</label>
	                        <div class="col-lg-8 no-padding-left" id="divheadvenush">                            
    	                        {% block ddlvenue %}
                                {% endblock %}
                	        </div>
                    	</div>
					</div>
				</div>
                <div class="col-sm-3 col-md-2 no-padding-right">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand no-padding" href="#"><img src="{% static "images/VN-Logo.png" %}" class="img-responsive" style="height: 50px" alt="VenueNext"></a>
                    </div>
                </div>
                <div class="col-sm-9 col-md-10 no-padding-left">
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li id='limdm'><a href="../wai_mngvalmas/">Meta Data Management</a></li>
                            <li id="liprocmon"><a href="../wai_mngprocmoni/">Process Monitoring</a></li>
                            <li id="liconfmng"><a href="../wai_mngcon/">Configuration Management</a></li>
                            <li id="lisplact"><a href="../wai_mngsplcrtusr/">Splunk Activity</a></li>
                            <li id="licalmng"><a href="../wai_mngblacal/">Event Schedule Management</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" >
                        	<li class="dropdown" id="liusset">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span id="spnusna"></span><span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li id="lichgpwd"><a href="/wai_chgpwd/">Change Password</a></li>
                                    <li><a href="/wai_logout/">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
			</div>
		</nav>
    	{% block body %}
    	{% endblock %}
    	<footer class="footer padding-20 text-center">
    		VENUENEXT IS BASED IN SAN FRANCISCO, SILICON VALLEY AND NEW YORK.
		</footer>
		 <script language='javascript'>
        	var headid = document.getElementById("hidheadid").value;
	        document.getElementById("spnusna").innerHTML = document.getElementById("hidusname").value;
    	    $("#livalmas, #liprojob, #liprocmon, #licliven, #liadmusr, #lichgpwd, #liblkcal, #lilevievtcal, #lilivnatcal, #lisplusr, #lisplrol").removeClass("active");
			$("#limdm, #liconfmng, #lisplact, #licalmng, #lischgpwd, #liusset").removeClass("active");
        
        	if((headid * 1) == 1)
            	$("#livalmas, #limdm").addClass("active");
	        else if((headid * 1) == 2)
    	        $("#liprojob, #limdm").addClass("active");
        	else if((headid * 1) == 3)
            	$("#liprocmon").addClass("active");
	        else if((headid * 1) == 4)
    	        $("#licliven, #limdm").addClass("active");
        	else if((headid * 1) == 5)
            	$("#liadmusr, #limdm").addClass("active");
	        else if((headid * 1) == 6)
    	        $("#liusset, #lischgpwd").addClass("active");
			else if((headid * 1) == 31)
				$("#liconfmng").addClass("active");
			else if((headid * 1) == 51)
    	        $("#liblkcal, #licalmng").addClass("active");
			else if((headid * 1) == 52)
    	        $("#lilevievtcal, #licalmng").addClass("active");
			else if((headid * 1) == 53)
    	        $("#lilivnatcal, #licalmng").addClass("active");
			else if((headid * 1) == 41)
    	        $("#lisplusr, #lisplact").addClass("active");
			else if((headid * 1) == 42)
    	        $("#lisplrol, #lisplact").addClass("active");
        	else
            	$("#livalmas, #limdm").addClass("active");
            
	        if(trimAllSpace(document.getElementById("hidustype").value) == "SA")
    	    {
        	    $("#livalmas, #liprojob, #liprocmon, #licliven, #liadmusr").removeClass("hide");
	        }
    	    else if(trimAllSpace(document.getElementById("hidustype").value) == "A" || trimAllSpace(document.getElementById("hidustype").value) == "U")
        	{
            	$("#livalmas, #liprojob, #liprocmon, #licliven, #liadmusr").addClass("hide");
	            arrObjHidPgNa = document.getElementsByName("hidpgnames");
    	        arrObjHidPgVi = document.getElementsByName("hidpgviews");
        	    arrObjHidPgEd = document.getElementsByName("hidpgedits");
            	arrObjHidPgDe = document.getElementsByName("hidpgdeles");
            
	            for(i = 0; i < arrObjHidPgNa.length; i++)
    	        {
        	        if(trimAllSpace(arrObjHidPgVi[i].value) == "Y")
            	    {
                	    if(trimAllSpace(arrObjHidPgNa[i].value.toLowerCase()) == "wai_mngvalmas")
                    	    $("#livalmas").removeClass("hide");
	                    if(trimAllSpace(arrObjHidPgNa[i].value.toLowerCase()) == "wai_mngprojob")
    	                    $("#liprojob").removeClass("hide");
        	            if(trimAllSpace(arrObjHidPgNa[i].value.toLowerCase()) == "wai_mngprocmoni")
            	            $("#liprocmon").removeClass("hide");
                	    if(trimAllSpace(arrObjHidPgNa[i].value.toLowerCase()) == "wai_mngcliven")
                    	    $("#licliven").removeClass("hide");
	                    if(trimAllSpace(arrObjHidPgNa[i].value.toLowerCase()) == "wai_mngadmuser")
    	                    $("#liadmusr").removeClass("hide");
        	        }
            	}
	        }    	    
        	setTimeout(function() {
            	$('body').find('.message-loading-overlay').remove();
	            $('body').removeClass("no-scroll");
    	    }, 500 + parseInt(Math.random() * 500));
			
			
			function doLoadVenueDDL(cliid)
			{
				if((cliid * 1) > 0 )
				{
					$('body').append('<div class="message-loading-overlay"><i class="ace-icon fa fa-spin ace-icon fa fa-spinner orange2 bigger-160"></i></div>');
					var myKeyVals = { clieid: cliid, csrfmiddlewaretoken:'{{csrf_token}}'  }
					$.ajax({
						url : "/wai_loadvenudet/", 
						type : "POST",
						data : myKeyVals,
						success : function(data) {
							setTimeout(function() {
								$('body').find('.message-loading-overlay').remove();
								document.getElementById("divheadvenush").innerHTML = "<select id='ddlheadvenu' name='ddlheadvenu' class='form-control'>" + data + "</select>";
							}, 500 + parseInt(Math.random() * 500));
						return false;
						},
						error : function(xhr,errmsg,err) {
							$('body').find('.message-loading-overlay').remove();
							alert(xhr.status + ": " + xhr.responseText);
						}
					});
				}
			}
			// doLoadVenueDDL(document.getElementById("ddlheadclie").value)
			
			$("#ddlheadclie").on('change',function(e){
				cliid = $('#ddlheadclie option:selected').val();
				if((cliid * 1) > 0 )
				{
					$('body').append('<div class="message-loading-overlay"><i class="ace-icon fa fa-spin ace-icon fa fa-spinner orange2 bigger-160"></i></div>');
					var myKeyVals = { clieid: cliid, csrfmiddlewaretoken:'{{csrf_token}}'  }
					$.ajax({
						url : "/wai_loadvenudet/", 
						type : "POST",
						data : myKeyVals,
						success : function(data) {
							setTimeout(function() {
								$('body').find('.message-loading-overlay').remove();
								document.getElementById("divheadvenush").innerHTML = "<select id='ddlheadvenu' name='ddlheadvenu' class='form-control'>" + data + "</select>";
							}, 500 + parseInt(Math.random() * 500));
						return false;
						},
						error : function(xhr,errmsg,err) {
							$('body').find('.message-loading-overlay').remove();
							alert(xhr.status + ": " + xhr.responseText);
						}
					});
				}
			});
			
			$("#ddlheadvenu").on('change',function(e){
				venid = $('#ddlheadvenu option:selected').val();
				if((cliid * 1) > 0 )
				{
					var myKeyVals = { venueid: venid, csrfmiddlewaretoken:'{{csrf_token}}'  }
					$.ajax({
						url : "/wai_sessionvenuid/", 
						type : "POST",
						data : myKeyVals,
						success : function(data) {
							return false;
						},
						error : function(xhr,errmsg,err) {
							$('body').find('.message-loading-overlay').remove();
							alert(xhr.status + ": " + xhr.responseText);
						}
					});
				}
			});
	    </script>
	</body>
</html>
{% endblock %}